/**
 * Admin CSS
 * @package WordPress
 * @subpackage SERVED Admin
 * @author Shazzad Hossain Khan
 * @url https://shazzad.me
**/


.w4_loggable_wrap pre{
	overflow:auto;
}
.w4_loggable_wrap pre.small{
	font-size:12px;
	line-height: normal;
}
textarea.W4_Loggable_small_text{
	font-size:12px !important;
	line-height: normal !important;
}

/* Error/Message/Note */
.w4_loggable_wrap div._note,
.w4_loggable_wrap div._error,
.w4_loggable_wrap div._updated,
.w4_loggable_wrap div._ok {
  padding: 1px 12px;
  margin: 5px 0 15px;
  background-color: #fff;
  border-left:4px solid #d1e5ee;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.w4_loggable_wrap div._note p,
.w4_loggable_wrap div._error p,
.w4_loggable_wrap div._updated p,
.w4_loggable_wrap div._ok p{
	margin:.5em 0;
}
.w4_loggable_wrap div._error {
  border-color: #dd3d36;
}
.w4_loggable_wrap div._updated,
.w4_loggable_wrap div._ok {
  border-color: #7ad03a;
}
.notes div._error,
.notes div._updated,
.notes div._ok{
	margin:0;
}
.notes div._note + div._note{
	margin-top:5px;
}
.nav-tab-wrapper + div._note,
.nav-tab-wrapper + div._error,
.nav-tab-wrapper + div._updated,
.nav-tab-wrapper + div._ok{
	margin-top:20px;
}
#w4_loggable_admin_notes._ld{
	padding-left:30px;
	background-position:5px center;
	background-repeat:no-repeat;
	background-image:url(images/spinner.gif);
}


/* Form */
.wf{
	color:#333;
	margin-bottom:20px;
}
.W4_loggable-admin .wf{
	margin-top: 20px;
}
.W4_loggable-admin .subsubsub li.search{
	font-size: 13px;
	background-color: transparent;
}
.wf p{
	font-style:normal;
	font-size:inherit;
}
.wff_half_left,
.wff_half_right{
	width:48%;
	padding:0 2% 0 0;
	float: left;
}
.widefat{
	width:100%;
}
.wfft_textarea{
	height:auto;
}
.w4_loggable_wrap h2 a{
	text-decoration:none;
}
.W4_Loggable__ov,
.wf-basic .wffw.W4_Loggable__ov{
	overflow:visible;
}
.date_input{
	padding-left:25px !important;
	background-image:url(images/calendar.gif) !important;
	background-repeat:no-repeat !important;
	background-position: 6px 10px !important;
}


/* Box */
.W4_loggable-box{
	margin-bottom:20px;
	border:2px solid #ddd;
	background-color:#fff;
}
.W4_loggable-box-title {
	font-size: 1.4rem;
	line-height: normal;
	padding: .75rem 1.75rem;
	padding-top: 20px;
}
.W4_loggable-box-content{
	padding:.75rem 1.75rem 1.75rem 1.75rem;
}


/* Toggle */
.W4_loggable-toggle .W4_loggable-toggle-btn:after{
	position: relative;
	padding:0;
	content: "\f343";
	font-family: 'dashicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left:5px;
	top:1px;
}
.W4_loggable-toggle.W4_loggable-toggle-active .W4_loggable-toggle-btn:after{
	content: "\f347";
}
.W4_loggable-toggle .W4_loggable-toggle-btn,
.W4_loggable-toggle2 .W4_loggable-toggle-btn{
	cursor:pointer;
}
.W4_loggable-toggle-btn{
	position:relative;
}
.W4_loggable-toggle-btn.W4_loggable-box-title{
	padding:.75rem 1.75rem;
}
.W4_loggable-toggle-btn.W4_loggable-box-title:after{
	top:15px;
	right:15px;
	position:absolute;
}
.W4_loggable-toggle-content.W4_loggable-box-content{
  padding-top:0;
	padding-bottom:0;
}

/* Form (style = basic) */
.wf-basic {
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}
.W4_loggable-button{
	color: #666;
	border-radius: 5px;
	padding: 6px 12px;
	display: inline-block;
	border: 1px solid #ddd;
	background-color: #fff;
	transition: all .4s ease;
}
.W4_loggable-button:hover{
	color: #333;
	cursor: pointer;
	border-color: #AAA;
	box-shadow: 0 1px 2px rgba(57,73,76,0.35);
}
.delete-file:hover{
	cursor: pointer;
}

/* Settings form */
#W4_Loggable_settings_form .wffwt_submit{
	background-color: #FFF;
}
#W4_Loggable_settings_form .wffwt_submit,
#W4_Loggable_settings_form .W4_loggable-toggle-btn.W4_loggable-box-title{
	padding: 16px 32px;
}
#W4_Loggable_settings_form .W4_loggable-toggle-btn.W4_loggable-box-title small{
  color: #999;
  display: block;
  font-size: 14px;
}
#W4_Loggable_settings_form .W4_loggable-toggle-btn.W4_loggable-box-title:after{
	top: 20px;
}
#W4_Loggable_settings_form .W4_loggable-box,
#W4_Loggable_settings_form .wffwt_submit{
	margin-top: -1px;
	margin-bottom: 0;
	border:1px solid #ddd;
}
#W4_Loggable_settings_form .W4_loggable-box-content .wffw:last-child{
  border-bottom: none;
}

/* select2 */
.w4_loggable_wrap .tablenav .select2-container{
  width: 150px !important;
	margin-right: 6px;
}
.W4_loggable-terms-sorter li{
	cursor: grab;
	padding: 8px 12px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	list-style-position:inside;
}

/* List table */
.wp-list-table .supplier-logo-holder{
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.wp-list-table .muted{
	color: #999;
}
